body{
    width: 100%;
    height: 100vh;
    background-color: #8B73FF;
    background-image: linear-gradient(to bottom right, #8B73FF, #FFBA73 );
    margin: 0;
    z-index: -999;
    
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFA8DC;
    color: #003041;
    text-align: center;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    width: 100%;
    height: 10em;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    background-color: #FFA8DC;
    justify-content: space-between;
    #hamburger{
        cursor: pointer;
        margin-top: .5em;
        margin-right: .6em;
        fill: white;
    }
}
#logo{
    width: 10em;
    height: 10em;
    margin-top: 1.5em;
    margin-left: 1.5em;
}
nav{
    position: fixed;
    right: 0;
    top: 0;
    background: #8B73FF;
    height: 100vh;
    width: 30%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    
    ul{
        list-style-type: none;
        padding: 0;
        margin-top: 0;
        a{
            font-family: 'Dancing Script', cursive;
            color: white;
            padding: 0.6em 0.5em;
            display: block;
            font-size: 23px;

            &:hover{
                background: #5E3DFF;
            }
        }
        #omatili{
            display: none;
        }
    }
    #close{
        font-family: 'Dancing Script', cursive;
        color: white;
        font-size: 23px;
        font-weight: bold;
        padding: 1.2em;
    }
}
// Main page //
.fillTextLeft{
    display: block;
    width: 100%;
    padding-top: 5em;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 30px;
}
.open-nav{
    transform: translateX(0%);
}
.pol1{
    display: block;
    height: 6em;
    background-color: #FFA8DC;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    .content{
        padding-top: 1.5em;
        
    }
    a{
        font-size: 2rem;
        font-weight: bold;
        color: #8B73FF;
    }
}
.pol2{
    margin-top: 1em;
    display: block;
    height: 6em;
    background-color: white;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    .content{
        padding-top: 1.5em;
    }
    a{
        font-size: 2rem;
        font-weight: bold;
        color: #8B73FF;
    }
}
.pol3{
display: none;
}
.pol4{
    display: none;
}
// Registeration // 
.formContainer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    #lomake{
        
        width: 300px;
        height: 300px;
        background-color: white;
        border-radius: 4px;
        text-align: center;
        padding: 20px;
        input{
            display: block;
            margin: 15px auto;
        }
        .closeForm{
            float: right;
            margin-top: -5.5em;
            font-size: 42px;
            transform: rotate(45deg);
            cursor: pointer;
            
        }

    }
    

}
.open-registerationPopUp{
    transform: translateX(0%);
}

// Kirjaudu //
.form2Container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    #lomakeKirjaudu{
        
        width: 300px;
        height: 300px;
        background-color: white;
        border-radius: 4px;
        text-align: center;
        padding: 20px;
        input{
            display: block;
            margin: 15px auto;
        }
        .close2Form{
            float: right;
            margin-top: -5.5em;
            font-size: 42px;
            transform: rotate(45deg);
            cursor: pointer;
            
        }
        button{
            margin-top: 5px;
        }
    }
    

}
.open-logInPopUp{
    transform: translateX(0%);
}


@media only screen and (min-width: 856px) {
    body{
        height: 100vh;
    }

    #hamburger{
        display: none;
    }
    nav{
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
        #close{
            display: none;
        }
        ul{
            display: flex;
            margin: 0;

            a{
                color: white;
                padding: 1.5em 1.5em;
                font-size: 2.5rem;

                &:hover {
                    background: none;
                }
            }
        }
    }
}
@media only screen and (min-width: 1250px) {
    body{
        height: 100vh;
    }
    .fillTextLeft{
        font-family: 'Dancing Script', cursive;
        color: white;
        font-size: 50px;
        width: 50%;
        height: 50%;
    }

    .pollsContainer{
        display: grid;
        grid-template-columns: repeat(2, auto);
        float: right;
        margin-top: -25%;
        margin-right: 4em;
        position: relative;
        
        .pol1{
            width: 22em;
            height: 14em;
            position: relative;
            margin: 0;
        }
        .pol2{
            width: 22em;
            height: 14em;
            margin: 0;
        }
        .pol3{

            display: block;
            width: 22em;
            height: 14em;
            position: relative;
            margin: 0;
            background-color: white;
            text-align: center;
            .content{
                padding-top: 1.5em;
            }
            a{
                font-size: 2rem;
                font-weight: bold;
                color: #8B73FF;
            }
        }
        .pol4{
            display: block;
            width: 22em;
            height: 14em;
            margin: 0;
            background-color: #FFA8DC;
            text-align: center;
            .content{
                padding-top: 1.5em;
            }
            a{
                font-size: 2rem;
                font-weight: bold;
                color: #8B73FF;
            }
        }
    }
}